<div class="text-center">
  <h1 class="font-weight-bold">ながのケーキのこだわり</h1>
</div>
    <div class="row">
      <div class="mx-auto align-items-center">
        <br>
        <h5><u class="font-weight-bold">生産者の方がわかる素材を厳選</u><br></h3>
        <br>
          「体にやさしいケーキ」をコンセプトに、<br>
          無添加、無農薬の素材を厳選してます。<br>
          砂糖も控えめなため、カロリーを気にされる方でも、<br>
          気にせずお召し上がりいただけます。<br>
          ぜひ一度ご注文してみてください！<br>
        <br>
      </div>
    <br>
  </div>
<br>