

<div class="container">
  <div class="row">
    <div class="col-xs-12 mx-auto">
      <div class="text-center">                
        <p>
          <span>Welcome Nagano-cake</span><br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。<br>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container new-item">
  <h2>新着商品</h2>
  <div class="row">
    <% @items.first(4).each do |item| %>
    <%= render "item_each" ,item: item%>
    <% end %>
  </div>
  <div class="all-items-show-button"><%= link_to "全ての商品をみる", items_path %></div>
</div>